
/* 修改代码块字体为 monospace，字体大小为14px */
code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pre', monospace;
  font-size: 18px;
}

/*代码块样式*/
pre {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 18px;
  line-height: lem;
  margin: 1.5em 0;
  overflow: auto;
  background: var(--code-bg);
  border-radius: 5px;
}

/*内嵌代码样式*/
:not(pre) > code {
  font-size: 18px;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.4em;
  border-radius: 3px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(8px);     /* 可选的模糊效果 */
  border-bottom: 1px solid rgba(126, 66, 175, 0.3); /* 可选边框 */
  transition: top 0.3s ease-in-out;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chroma .hl { background-color: #24213b }
.bg { color: #cad3f5; background-color: #24213b; }

/* 防止内容被遮挡
main {
  padding-top: 80px;
} */

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.logo a {
    font-size: 48px;
    font-weight: 700;
}

#menu a {
    font-size: 24px;
}